* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

#logo {
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
}

#hamburger {
  width: 2.7rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* position: absolute;
  right: 310px; */
  z-index: 2;
  
}

#hamburger span {
  height: 3px;
  background-color: rgb(0, 0, 0);
  transition: transform 0.5s ease;
}

nav {
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* justify-content: space-between; */
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  padding: 10px;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 1;
  transition: right 0.4s ease;
  border-left: 148px solid #0000009c;
  background-clip: padding-box;
}

.show {
  right: 0;
}

#hamburger.close span:nth-child(1) {
  transform: translateY(10px) translateX(1px) rotate(45deg);

}

#hamburger.close span:nth-child(2) {
  opacity: 0;
}

#hamburger.close span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.linkName {
  display: block;
  margin: 1.7rem 1rem;
  color: hsl(0, 0%, 41%);
}

li a {
  color: hsl(0, 0%, 41%);
}

#NavLinks-cont {
  margin-top: 4rem;
}

.sub-menu {
  padding: 0 2.5rem;
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.visible {
  display: block;
  opacity: 1;
}

.sub-menu li {
  margin: 1.5rem 0 1rem 0;
}

#registration {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#registration a {
  margin-top: 1.2rem;
}

#registration a:nth-child(2) {
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
  margin: 1.1rem;
}

h1 {
  text-align: center;
  margin: 3.6rem auto 1rem auto;
  font-size: 2.5rem;
}

p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: hsl(0, 0%, 41%);
  margin: 1.5rem 0.7rem;
  line-height: 30px;
}

#Learn-button {
  text-align: center;
  background-color: black;
  font-size: 18px;
  border-radius: 15px;
  margin: 1.7rem 7.7rem 3.2rem;
  padding: 18px 20px;
}

#Learn-button a {
  /* display: inline-block; */
  text-decoration: none;
  text-align: center;
  color: white;
}

#sponsors img {
  width: 20%;
  margin: 0.5rem;
}

@media screen and (min-width:28rem) {
  body {
  margin: 0.8rem 1.5rem 1.5rem 1.5rem;
  }

  #logo {
    font-size: 1.8rem;
    margin-right: 2.2rem;
  }

  header {
   justify-content: flex-start;
   align-items: center;
   margin: 0;
  }

  .nav-links .sub-menu {
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin: 0.7rem;
    position: absolute;
    /* transition: all 3s ease; */
    /* shit didnt wanna work */
  }

  #collps-submenu1 .sub-menu {
    left: 75px;
  }

  #collps-submenu2 .sub-menu {
    padding: 0.8rem 1.5rem 0.5rem 1.5rem;
  }

  #collps-submenu2 .sub-menu li {
    margin-bottom: 1rem;
  }

  .nav-links:hover .sub-menu {
    display: block;
    opacity: 1;
  }

  #NavLinks-cont {
    margin-top: 0;
  }

  #NavLinks-cont > ul {
    display: flex;
  }

  .sub-menu {
    padding: 0.8rem 1.8rem;
    box-shadow: 1px 1px 30px grey;
  }

  .sub-menu li {
    margin: 0.6rem 0;
  }

  .linkName {
    margin: 0.25rem 1rem;
  }

  .linkName:hover {
    color: black;
  }

  header li {
    font-size: 12px;
  }

  li a:hover {
    color: black;
  }

  #registration a:nth-child(2):hover {
    border: 2px solid black;
  }

  /* .visible {
    display: none;
  } */

  /* .sub-menu {
    position: absolute;
  } */

  h1 {
    font-size: 3.5rem;
    text-align: left;
    margin: 3.5rem 0 1.5rem 0;
  }

  h1 span {
    display: block;
  }

  picture img {
    width: 330px;
    height: 440px;
  }
  #pc-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 2rem 0;
    justify-content: center;
    gap: 30px;
  }
  #hamburger {
    display: none;
  }
  nav {
    right: 0;
    border: 0;
    background-color: transparent;
    position: static;
    width: auto;
    height: auto;
  }

  #registration {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    position: absolute;
    left: 86%;
    bottom: 88%;
  }
  #registration a:nth-child(1) {
    margin-top: 1.85rem;
  }
  #registration a:nth-child(2) {
    padding: 0.6rem 1rem;
    border-radius: 10px;
  }

  #pc-container > div {
    width: 500px;
    /* height: 200px; */
  }

  p {
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    width: 75%;
    line-height: 1.5;
  }

  #sponsors {
    width: 100%;
  }

  #sponsors img {
    width: 68px;
    margin: 0 1rem;
  }

  #Learn-button {
    margin: 1.7rem 0rem 4.7rem 0;
    width: 27%;
    height: 43px;
    padding: 14px;
    font-size: 15px;
    border-radius: 10px;
  }

  #Learn-button:hover{
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
  }

  #Learn-button:hover a{
    color: black;
  }
}